<div class="icon-box"><div class="icon-box__icon">
  {{svg_inline 'icons' name variant=size class="wds-icon"}}
  <!-- <svg class="wds-icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wds-icons-{{name}}"></use>
  </svg> -->
</div>
  <div class="icon-box__name">{{name}}</div>
</div>
