<a href="{{link.href}}" class="wds-global-footer__link{{#if link.brand}} wds-is-{{link.brand}}{{/if}}">
<div>{{i18n strings link.title.key}}</div>
{{svg_inline 'icons' 'arrow' class="wds-global-footer__image wds-icon"}}
</a>
