<section class="wds-global-footer__{{parentName}}-section wds-is-{{name}}">
{{#if section.header.title}}
	<h3 class="wds-global-footer__section-header">{{i18n strings section.header.title.key}}</h3>
{{/if}}

{{#if section.description}}
	<span class="wds-global-footer__section-description">{{i18n strings section.description.key}}</span>
{{/if}}

<ul class="wds-global-footer__links-list">
	{{#each section.links as |link|}}
		<li class="wds-global-footer__links-list-item">
      {{> (concat 'footer/' link.type) link=link strings=../strings}}
		</li>
	{{/each}}
</ul>
</section>
