{{> _header title="Quick Start" navigation=navigation }}
<p>All steps you need to make to start using Design System on your site.</p>

<section>
	<h2>1. Install with Bower</h2>
	<p>As a first step, you need to install Design System libraries using Bower.</p>
	<pre>bower install Wikia/design-system --save</pre>
</section>

<section>
	<h2>2. Link to Design System css file</h2>
	<p>In your html file link to styles.css file.</p>
{{#code-sample language='html'}}
<head>
	...
	<link rel="stylesheet" type="text/css" href="bower_components/design-system/dist/css/styles.css">
</head>
{{/code-sample}}
</section>

<section>
	<h2>3. Start using Design System goodies!</h2>
	<p>Now you can start using DS classes in your application. To check if everything works, just add an example button and check if it is displayed correctly on your site.</p>
{{#code-sample language='html'}}
<button class="wds-button">Test</button>
{{/code-sample}}
</section>
{{> _footer}}
